# EDA on 2014 - 2021 Gun Violence Data
See related notebook for links to Kaggle Data Source and Gun Violence Alliance where data was compiled. Data prep and EDA based on hot button topic in current events.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/us-gun-violence_data.csv')
df

,incident_id,incident_date,state,city_or_county,address,killed,injured
0,2201535,December 31 2021,Maryland,Capitol Heights,Cindy Ln,0,4.0
1,2201716,December 31 2021,Mississippi,Gulfport,1200 block of Lewis Ave,3,4.0
2,2201216,December 31 2021,California,Los Angeles,10211 S. Avalon Blvd,0,6.0
3,2200968,December 30 2021,Pennsylvania,Philadelphia,5100 block of Germantown Ave,0,6.0
4,2201052,December 30 2021,Missouri,Kirksville,700 block of E Dodson St,2,2.0
...,...,...,...,...,...,...,...
3386,95550,January 12 2014,Alabama,Huntsville,University Drive,0,5.0
3387,95146,January 11 2014,Mississippi,Jackson,3430 W. Capitol Street,0,4.0
3388,94514,January 5 2014,Pennsylvania,Erie,829 Parade St,1,3.0
3389,92704,January 3 2014,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3.0
3390,92194,January 1 2014,Virginia,Norfolk,Rockingham Street and Berkley Avenue Extended,2,2.0

In [13]:
df.sort_values(by = ['killed'], ascending = False).head(14)

,incident_id,incident_date,state,city_or_county,address,killed,injured
2127,946496,October 1 2017,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441.0
2650,577157,June 12 2016,Florida,Orlando,1912 S Orange Ave,50,53.0
2093,980577,November 5 2017,Texas,Sutherland Springs,216 4th St,27,20.0
1476,1466705,August 3 2019,Texas,El Paso,7101 Gateway Blvd,23,23.0
2027,1049217,February 14 2018,Florida,Pompano Beach (Parkland),5901 Pine Island Rd,17,17.0
2804,456893,December 2 2015,California,San Bernardino,1365 South Waterman Ave,16,19.0
1573,1410442,May 31 2019,Virginia,Virginia Beach,2405 Courthouse Drive,13,4.0
1750,1249561,November 7 2018,California,Thousand Oaks,99 Rolling Oaks Dr,13,2.0
1762,1241819,October 27 2018,Pennsylvania,Pittsburgh,5898 Wilkins Ave,11,7.0
589,1958652,March 22 2021,Colorado,Boulder,3600 Table Mesa Dr,10,1.0
1475,1467828,August 4 2019,Ohio,Dayton,419 E 5th St,10,17.0
462,2015730,May 26 2021,California,San Jose,101 W Younger Ave,10,0.0
2852,423223,October 1 2015,Oregon,Roseburg,1140 Umpqua College Rd,10,9.0
1956,1118785,May 18 2018,Texas,Santa Fe,16000 Hwy 6,10,13.0

In [17]:
df.incident_date = pd.to_datetime(df.incident_date)

In [22]:
df[(df.incident_date == df.incident_date.min()) | (df.incident_date == df.incident_date.max())]

,incident_id,incident_date,state,city_or_county,address,killed,injured
0,2201535,2021-12-31,Maryland,Capitol Heights,Cindy Ln,0,4.0
1,2201716,2021-12-31,Mississippi,Gulfport,1200 block of Lewis Ave,3,4.0
2,2201216,2021-12-31,California,Los Angeles,10211 S. Avalon Blvd,0,6.0
3390,92194,2014-01-01,Virginia,Norfolk,Rockingham Street and Berkley Avenue Extended,2,2.0

In [23]:
df.sort_values(by = ['injured'], ascending = False).head(14)

,incident_id,incident_date,state,city_or_county,address,killed,injured
2127,946496,2017-10-01,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441.0
2650,577157,2016-06-12,Florida,Orlando,1912 S Orange Ave,50,53.0
2224,879953,2017-07-01,Arkansas,Little Rock,220 W 6th St,0,25.0
1440,1492441,2019-08-31,Texas,Odessa,8250 TX 191,8,23.0
1476,1466705,2019-08-03,Texas,El Paso,7101 Gateway Blvd,23,23.0
943,1758966,2020-08-09,District of Columbia,Washington,3300 block of Dubois Pl SE,1,21.0
2093,980577,2017-11-05,Texas,Sutherland Springs,216 4th St,27,20.0
455,2019622,2021-05-30,Florida,Hialeah,7630 NW 186th St,3,20.0
2804,456893,2015-12-02,California,San Bernardino,1365 South Waterman Ave,16,19.0
2580,611479,2016-07-25,Florida,Fort Myers,3580 Evans Ave,2,19.0
1925,1142789,2018-06-17,New Jersey,Trenton,635 S Clinton Ave,1,19.0
1253,1635750,2020-03-07,Ohio,Cleveland,3804 E 93rd St,1,18.0
3023,341622,2015-05-17,Texas,Waco,4671 S Jack Kultgen Fwy,9,18.0
2817,451495,2015-11-22,Louisiana,New Orleans,1900 block of Gallier St,0,17.0

In [24]:
df['killed_injured'] = df.killed + df.injured
df

,incident_id,incident_date,state,city_or_county,address,killed,injured,killed_injured
0,2201535,2021-12-31,Maryland,Capitol Heights,Cindy Ln,0,4.0,4.0
1,2201716,2021-12-31,Mississippi,Gulfport,1200 block of Lewis Ave,3,4.0,7.0
2,2201216,2021-12-31,California,Los Angeles,10211 S. Avalon Blvd,0,6.0,6.0
3,2200968,2021-12-30,Pennsylvania,Philadelphia,5100 block of Germantown Ave,0,6.0,6.0
4,2201052,2021-12-30,Missouri,Kirksville,700 block of E Dodson St,2,2.0,4.0
...,...,...,...,...,...,...,...,...
3386,95550,2014-01-12,Alabama,Huntsville,University Drive,0,5.0,5.0
3387,95146,2014-01-11,Mississippi,Jackson,3430 W. Capitol Street,0,4.0,4.0
3388,94514,2014-01-05,Pennsylvania,Erie,829 Parade St,1,3.0,4.0
3389,92704,2014-01-03,New York,Queens,Farmers Boulevard and 133rd Avenue,1,3.0,4.0
3390,92194,2014-01-01,Virginia,Norfolk,Rockingham Street and Berkley Avenue Extended,2,2.0,4.0

In [25]:
df.sort_values(by = ['killed_injured'], ascending = False).head(14)

,incident_id,incident_date,state,city_or_county,address,killed,injured,killed_injured
2127,946496,2017-10-01,Nevada,Las Vegas,3950 Las Vegas Blvd S,59,441.0,500.0
2650,577157,2016-06-12,Florida,Orlando,1912 S Orange Ave,50,53.0,103.0
2093,980577,2017-11-05,Texas,Sutherland Springs,216 4th St,27,20.0,47.0
1476,1466705,2019-08-03,Texas,El Paso,7101 Gateway Blvd,23,23.0,46.0
2804,456893,2015-12-02,California,San Bernardino,1365 South Waterman Ave,16,19.0,35.0
2027,1049217,2018-02-14,Florida,Pompano Beach (Parkland),5901 Pine Island Rd,17,17.0,34.0
1440,1492441,2019-08-31,Texas,Odessa,8250 TX 191,8,23.0,31.0
1475,1467828,2019-08-04,Ohio,Dayton,419 E 5th St,10,17.0,27.0
3023,341622,2015-05-17,Texas,Waco,4671 S Jack Kultgen Fwy,9,18.0,27.0
2224,879953,2017-07-01,Arkansas,Little Rock,220 W 6th St,0,25.0,25.0
455,2019622,2021-05-30,Florida,Hialeah,7630 NW 186th St,3,20.0,23.0
1956,1118785,2018-05-18,Texas,Santa Fe,16000 Hwy 6,10,13.0,23.0
943,1758966,2020-08-09,District of Columbia,Washington,3300 block of Dubois Pl SE,1,21.0,22.0
2580,611479,2016-07-25,Florida,Fort Myers,3580 Evans Ave,2,19.0,21.0